.side_bar
  .side_bar__top
    .side_bar__top__contents
      .side_bar__top__contents__left
        takeshi
      .side_bar__top__contents__right
        = link_to "#", class: "side_bar__top__contents__right--btn" do
          = icon('far', 'edit')
        = link_to "#", class: "side_bar__top__contents__right--btn" do
          = icon('fas', 'cog')
  .side_bar__bottom
    .side_bar__bottom__contents
      .side_bar__bottom__contents__groupname
        Team A
      .side_bar__bottom__contents__comment
        This is a first message
